.brand-logo{
    margin-left: 20px;
}
.center-align{
    background: rgb(228, 228, 228);
    padding: 10px;
    border-radius: 5px;
    padding-bottom: 20px;
    font-size: 21px;
    font-family: candara;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px #888888;
}

footer{
    top: 80%;
}
.imagina{
    width: 40px;
    margin-bottom: 10px;
}
footer a{
    display: flex;
    
}
.contac{
    text-align: center;
    margin-left: 10px;
}
.quotes{
    float: right;
}
.perfil{
    font-weight: bolder;
    color: black;
    text-shadow: #fcfcfc 1px 0 5px, #ffffff 0px 0px 5px;
}
.card-image img{
    filter: blur(1px);
}
.card-image img:hover{
        filter: blur(0px);
        
        -moz-transition: all 500ms ease-in-out; 
        -ms-transition: all 500ms ease-in-out; 
        -o-transition: all 500ms ease-in-out;
    }

.card-action{
    color: springgreen;
    background: red;
}

@media screen and (max-width: 800px) {
    .center-align {
      width: 85%;
    }
  }
  hr{
      color: springgreen;
  }